.zendesk-container {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding-right: 8px;
}

.zendesk-container::-webkit-scrollbar {
   width: 5px;
}

.zendesk-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #E0E0E0;
}

.zendesk-container::-webkit-scrollbar {
  background: #F5F5F5;
  border-radius: 10px;
}

.zendesk-body {
  padding: 10px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.ticket-container {
  margin-top: 10px;
  padding: 10px;
  color: #2c3e50;
  border-bottom: 1px solid #e8eaec;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /*border-bottom: 1px solid #bdc3c7;*/
  padding-bottom: 5px;
}

.ticket-header .subject a {
  text-decoration: underline;
  color: #3498db;
}

.ticket-header .date {

}

.desc {
  width: 430px;
  word-wrap: break-word;
  overflow: hidden;
  height: 100px;
  transition: height 0.5s;
  cursor: pointer;
}

.full-view {
  height: auto;
}
