.priorities-container {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  flex: 1;
  height: 600px;
}

.priorities-header {
  border-bottom: 1px solid #bdc3c7;
  padding: 5px 0;
  text-align: center;
}
