@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #f4f4f6;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.container {
  position: relative;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
}

.list li {
  list-style: none;
  padding: 10px;
}

.image {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #E0E0E0;
}

.scroll::-webkit-scrollbar {
  background: #F5F5F5;
  border-radius: 10px;
}
