.grid-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px;
}

.grid-column {
  display: flex;
  flex: 1;
  margin-right: 8px;
  flex-direction: column;
}

.grid-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cols {
  column-count: 3;
  column-gap: 0;
}


.highcharts-data-label text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px !important;
  fill: #34495e !important;
}

.highcharts-drilldown-axis-label {
  font-family: 'Open Sans Condensed', sans-serif;
}

.highcharts-legend-item {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
