.grid-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.grid-column {
  display: flex;
  flex: 1;
  margin-right: 5px;
  flex-direction: column;
}

.grid-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cols {
  column-count: 3;
  column-gap: 0;
}
