.grid-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 8px;
}

.grid-column {
  display: flex;
  flex: 1;
  margin-right: 8px;
  flex-direction: column;
}

.grid-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cols {
  column-count: 3;
  column-gap: 0;
}


.highcharts-data-label text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px !important;
  fill: #34495e !important;
}

.highcharts-drilldown-axis-label {
  font-family: 'Open Sans Condensed', sans-serif;
}

.highcharts-legend-item {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.container {
  position: relative;
  width: 320px;
  height: 200px;
  background: #ececec;
}
.btStyle {
  width: 133px;
  text-align: center;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 440px;
  height: 40px;
  font-size: 16px;
  background-color: #19AD5A;
  color: #ffffff;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.textField {
  display: block;
  font-size: 13px;
  width: 100%;
  min-height: 100px;
  border-radius: 1px;
  padding: 6px;
  background-color: #ffffff;
  border: solid 1px #DCDCDC;
}
.floating-menu {
  position: absolute;
  right: 25px;
  bottom: 25px;
  height: 42px;
  text-align: right;
  /*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
  height: 150px;
  overflow: hidden;
}

.floating-menu.open .floating-menu-item {
  margin-top: 8px;
}

.floating-menu-item label{
  display: inline-block;
  margin-right: 8px;
  padding: 4px 10px;
  border-radius: 12px;
  background: rgba(0,0,0,.25);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  cursor: pointer; cursor: hand;
}

.floating-menu.open .floating-menu-item label {
  opacity: 0.4;
}

.floating-menu-icon{
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  background: #e53935;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  text-align: center;
  cursor: pointer; cursor: hand;
}

.floating-menu-icon .material-icons {
  font-size: 32px;
  color: #fff;
  vertical-align: middle;
}
