.goals-container {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-weight: 500;
  height: 300px;
  flex: 1;
  color: #34495e;
  width: 300px;
}


/* LIST #1 */
.goals-body ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.goals-body li:before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.goals-body li {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 9px 16px 9px 34px;
  margin-top: 6px;
}
